@model Cart

<form asp-action="Purchase">
    <div class="form-group">
         <label>Dia chi ship</label>
        <input type="text" name="Address" />
    </div>
    <div class="form-group">
        <label>SDt</label>
        <input type="text" name="Phone" />
    </div>
    <button class="btn btn-success">Đặt hàng</button>
</form>